In [1]:
import sqlalchemy as sqa
import pandas as pd

In [2]:
username = 'root'
password = ',.rifatjamil54,.'
host = 'localhost'
port = '3306'
database_online_banking = 'online_banking'

url_online_banking = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database_online_banking)
mysql_engine_online_banking = sqa.create_engine(url_online_banking)
mysql_engine_online_banking

Engine(mysql+pymysql://root:***@localhost:3306/online_banking)

In [4]:
username = 'root'
password = ',.rifatjamil54,.'
host = 'localhost'
port = '3306'
database_dwh = 'dwh'

url_dwh = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database_dwh)
mysql_engine_dwh = sqa.create_engine(url_dwh)
mysql_engine_dwh

Engine(mysql+pymysql://root:***@localhost:3306/dwh)

In [6]:
df = pd.read_sql_query("""select * from area;""",mysql_engine_online_banking)
print(df)

   area_id        name
0        1       Union
1        2     Upazila
2        3  Pouroshova
3        4        Ward
4        5     Village

In [ ]:
df.to_sql(
        name = 'area',
        con = mysql_engine_dwh,
        if_exists = 'replace',
        index = False,
        method = 'multi',
        chunksize = 1000
)