In [6]:
import sqlalchemy as sqa
import pandas as pd
import pyodbc
import pymysql
from sqlalchemy import text

username = 'root'
password = ',.rifatjamil54,.'
host = 'localhost'
port = '3306'
database = 'online_banking'

url = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database)
mysql_engine = sqa.create_engine(url)
mysql_engine

username = 'root'
password = ',.rifatjamil54,.'
host = 'localhost'
port = '3306'
database = 'dwh'

url = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database)
mysql_engine_2 = sqa.create_engine(url)
mysql_engine_2

Engine(mysql+pymysql://root:***@localhost:3306/dwh)

In [7]:
df = pd.read_sql_query("""select customer_id, region_id, area_id, join_date
from (select *, row_number  () over() as row_num
from customer_joining_info cji ) sub1
where row_num > (select ifnull((select last_row from store_cji_last_row), 0));            
""", mysql_engine)

In [8]:
print(df)

Empty DataFrame
Columns: [customer_id, region_id, area_id, join_date]
Index: []

In [9]:
df.to_sql(
        name = 'customer_joining_info',
        con = mysql_engine_2,
        if_exists = 'append',
        index = False,
        method = 'multi',
        chunksize = 1000
)

0

In [10]:
with mysql_engine.connect() as connection:
    connection.execution_options(isolation_level="AUTOCOMMIT")
    connection.execute(text("TRUNCATE TABLE store_cji_last_row;"))
    connection.execute(text("""insert into store_cji_last_row
    select max(row_num)
    from
    (select *, row_number  () over() as row_num
    from customer_joining_info cji ) sub1;"""))