In [13]:
import sqlalchemy as sqa
import pandas as pd
import pyodbc
import pymysql
from sqlalchemy import text

username = 'root'
password = ',.rifatjamil54,.'
host = 'localhost'
port = '3306'
database = 'online_banking'

url = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database)
mysql_engine = sqa.create_engine(url)
mysql_engine

username = 'root'
password = ',.rifatjamil54,.'
host = 'localhost'
port = '3306'
database = 'dwh'

url = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database)
mysql_engine_2 = sqa.create_engine(url)
mysql_engine_2

Engine(mysql+pymysql://root:***@localhost:3306/dwh)

In [14]:
df = pd.read_sql_query("""select customer_id, txn_date, txn_type, txn_amount
from (select *, row_number  () over() as row_num
from customer_transactions ct ) sub1
where row_num > (select ifnull((select last_row from store_ct_last_row), 0));            
""", mysql_engine)

In [15]:
print(df)

      customer_id    txn_date    txn_type  txn_amount
0             429  2020-01-21     deposit          82
1             155  2020-01-10     deposit         712
2             398  2020-01-01     deposit         196
3             255  2020-01-14     deposit         563
4             185  2020-01-29     deposit         626
...           ...         ...         ...         ...
5863          189  2020-02-03  withdrawal         870
5864          189  2020-03-22     deposit         718
5865          189  2020-02-06     deposit         393
5866          189  2020-01-22     deposit         302
5867          189  2020-01-27  withdrawal         861

[5868 rows x 4 columns]

In [16]:
df.to_sql(
        name = 'customer_transactions',
        con = mysql_engine_2,
        if_exists = 'append',
        index = False,
        method = 'multi',
        chunksize = 1000
)

5868

In [17]:
with mysql_engine.connect() as connection:
    connection.execution_options(isolation_level="AUTOCOMMIT")
    connection.execute(text("TRUNCATE TABLE store_ct_last_row;"))
    connection.execute(text("""insert into store_ct_last_row
    select max(row_num)
    from
    (select *, row_number  () over() as row_num
    from customer_transactions ct ) sub1;"""))