In [6]:
import sqlalchemy as sqa
import pandas as pd

In [2]:
username = 'root'
password = ',.rifatjamil54,.'
host = 'localhost'
port = '3306'
database_online_banking = 'online_banking'

url_online_banking = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database_online_banking)
mysql_engine_online_banking = sqa.create_engine(url_online_banking)
mysql_engine_online_banking

Engine(mysql+pymysql://root:***@localhost:3306/online_banking)

In [3]:
username = 'root'
password = ',.rifatjamil54,.'
host = 'localhost'
port = '3306'
database_dwh = 'dwh'

url_dwh = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database_dwh)
mysql_engine_dwh = sqa.create_engine(url_dwh)
mysql_engine_dwh

Engine(mysql+pymysql://root:***@localhost:3306/dwh)

In [4]:
df = pd.read_sql_query("""select * from region;""" ,mysql_engine_online_banking)
print(df)

   region_id region_name
0          1       Dhaka
1          2      Khulna
2          3    Rajshahi
3          4      Sylhet
4          5    Barishal

In [5]:
df.to_sql(
        name = 'region',
        con = mysql_engine_dwh,
        if_exists = 'replace',
        index = False,
        method = 'multi',
        chunksize = 1000
)

5