In [1]:
import sqlalchemy as sqa
import pandas as pd
import pyodbc
import pymysql
from sqlalchemy import text

In [2]:
username = 'root'
password = ',.rifatjamil54,.'
host = 'localhost'
port = '3306'
database_online_banking = 'online_banking'

url_online_banking = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database_online_banking)
mysql_engine_online_banking = sqa.create_engine(url_online_banking)
mysql_engine_online_banking

Engine(mysql+pymysql://root:***@localhost:3306/online_banking)

In [3]:
username = 'root'
password = ',.rifatjamil54,.'
host = 'localhost'
port = '3306'
database_dwh = 'dwh'

url_dwh = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database_dwh)
mysql_engine_dwh = sqa.create_engine(url_dwh)
mysql_engine_dwh

Engine(mysql+pymysql://root:***@localhost:3306/dwh)

In [4]:
df = pd.read_sql_query("""
                       	select customer_id
						from (
                       			SELECT  customer_id, row_number  () over() as row_num
								FROM (
	    								SELECT DISTINCT customer_id
	    								FROM customer_joining_info
									) AS distinct_customers
                       		) as d
						where row_num > (select ifnull((select last_row from store_cid_last_row), 0));
                    """ , mysql_engine_online_banking)
print(df)

Empty DataFrame
Columns: [customer_id]
Index: []

In [5]:
df.to_sql(
        name = 'customer_id',
        con = mysql_engine_dwh,
        if_exists = 'append',
        index = False,
        method = 'multi',
        chunksize = 1000
)

0

In [6]:


with mysql_engine_online_banking.connect() as connection:
    connection.execution_options(isolation_level="AUTOCOMMIT")
    
    # Ensure the table is empty
    connection.execute(text("TRUNCATE TABLE store_cid_last_row;"))
    
    # Insert the max customer_id into the table
    connection.execute(text("""
        INSERT INTO store_cid_last_row (last_row)
        select max(row_num) 
        from(
            SELECT  customer_id, row_number  () over() as row_num
            FROM(
                SELECT DISTINCT customer_id
                FROM customer_joining_info
                ) AS distinct_customers
            ) as d; """))